* {
  border: none;
  border-radius: 0;
  font-family: DejaVuSans Mono, FontAwesome;
  /* font-family: Jetbrains Mono, FontAwesome; */
  font-size: 14px;
  min-height: 0;
}

window#waybar {
  background: rgba(38, 35, 53, 0);
}

tooltip {
  background: rgba(38, 35, 53, 0.3);
  border-radius: 10px;
  /* border-width: 2px; */
  /* border-style: solid; */
  /* border-color: #11111b; */
}

#clock,
#cpu,
#custom-gpu,
#custom-updates,
#disk,
#idle_inhibitor,
#memory,
#network,
#pulseaudio,
#temperature,
#tray,
#workspaces,
#window {
  color: #ffffff;
  margin: 2px 10px;
}

#workspaces button {
  background-color: rgba(38, 35, 53, 0.3);
  border-radius: 7px;
  margin-right: 5px;
  padding: 5px 8px 5px 4px;
  color: #ffffff;
}

#workspaces button.active {
  background-color: rgba(38, 35, 53, 0.5);
  color: #ff7edb;
}

#workspaces button.urgent {
  color: #fe4450;
}

#cpu {
  color: #03edf9;
  margin-right: 0px;
}

#temperature.cpu {
  color: #03edf9;
  margin-left: 0px;
  margin-right: 10px;
}

#temperature.cpu.critical {
  color: #fe4450;
}

#memory {
  color: #99b3ff;
}

#custom-gpu {
  color: #ea9652;
  margin-right: 0px;
}

#temperature.gpu {
  color: #ea9652;
  margin-left: 0px;
  margin-right: 10px;
}

#temperature.gpu.critical {
  color: #fe4450;
}

#disk.root {
  color: #72f1b8;
  margin-right: 0px;
}

#disk.home {
  color: #72f1b8;
  margin-left: 0px;
  margin-right: 10px;
}

#pulseaudio {
  margin-right: 0px;
  color: #d884c7;
}

#pulseaudio.microphone {
  margin-left: 0px;
  margin-right: 10px;
}

#custom-updates {
  color: #fede5d;
}

#idle_inhibitor.deactivated {
  color: rgba(255, 255, 255, 0.3);
}

/* #idle_inhibitor.activated { */
  /* color: rgba(255, 255, 255, 0.5); */
/* } */
